.header{
    text-align: center;
    background-color: #292929;
    color: aliceblue;
    padding: 12px 0;
}

.header h4 span{
    color: #ffa1a1;
}

.car-show-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
